<div  id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div>
            <img class="img" src="./assets/logo.png">
            <a href="#" class="navbar-brand">  
                FreeLanci
            </a>
        </div>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    Admin Board
                </a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
  