<body style="
        margin-left: 258px
">
    <br><br>
    <h3>Details societe</h3>
    <img src="{{societes?.image}}" class="card-img-top" alt="{{ societes?.nom}}" />
    <div class="card-img-overlay">
        <!--<h5 class="card-title">{{societes?.nom}}</h5>-->
    </div>
    <div class="card-body">
        <h4 class="card-title">{{societes?.nom}}</h4>
        <p class="card-text"><strong>Tel:</strong> {{societes?.tel}}.</p>
        <p class="card-text"><strong>Email:</strong> {{societes?.email}}.</p>
        <p class="card-text"><strong>Description:</strong> {{societes?.description}}.</p>
        <p class="card-text"><strong>Categorie:</strong> {{societes?.categorie}}.</p>
    </div>

</body>