<body style="
        margin-left: 258px
">
    <br><br>
    <h3>Details Developpeur</h3>
    <img src="{{developpeurs?.image}}" class="card-img-top" alt="{{ developpeurs?.nom}}" />
    <div class="card-img-overlay">
       
    </div>
    <div class="card-body">
        <h4 class="card-title">{{developpeurs?.nom}} {{developpeurs?.prenom}}</h4>
        <p class="card-text"><strong>Tel:</strong> {{developpeurs?.tel}}.</p>
        <p class="card-text"><strong>Email:</strong> {{developpeurs?.email}}.</p>
        <p class="card-text"><strong>Description:</strong> {{developpeurs?.description}}.</p>
        <p class="card-text"><strong>Competences:</strong> {{developpeurs?.Competences}}.</p>
    </div>

</body>
