<div class="container">
  
    <body>
      <div class="area"></div><nav class="main-menu">
        <ul>
            <li>
                <a href="http://justinfarrow.com">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="/randonnee">
                   <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Randonnées
                    </span>
                </a>
            </li>
            <li>
              <a routerLink="/user">
                   <i class="fa fa-user fa-2x"></i>
                   <span class="nav-text">
                       Users
                   </span>
               </a>
           </li>   
    </ul>
    <ul class="logout">
        <li>
            <a href="" >
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
  </nav>
 </body>
</div>
<router-outlet></router-outlet>
